[Unit]
Description=Femboy Linux graphical installer
After=network.target systemd-user-sessions.service
Wants=NetworkManager.service

[Service]
Type=simple
User=root
Environment=HOME=/root
ExecStart=/usr/bin/startx /usr/local/bin/femboy-installer -- :0 vt1
Restart=on-failure

[Install]
WantedBy=graphical.target
